/* quitamos los margenes y padding por defecto de los navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* damos tamaño a la barra lateral */
body::-webkit-scrollbar {
  width: 0.15rem;
}

/* damos color a la barra lateral */
body::-webkit-scrollbar-track {
  background: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background: #000000;
}

/* creamos el layout de la pagina */
.App {
  width: 100%;
  display: grid;
  grid-template-rows: 8vh auto auto;
  min-height: 100vh;
}
