.form {
  padding: 2rem;
  display: grid;
  grid-gap: 25px;
  height: -webkit-fill-available;
  width: -webkit-fill-available;

  .title {
    font-size: 13px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 2px;
  }

  .middleSection {
    display: grid;
    grid-gap: 3rem;

    .inputwrapper {
      > label {
        display: block;
      }

      > span {
        border-bottom: 1px solid #313131;
        border-color: white;
        box-shadow: none;
        border-bottom: 1px solid #313131;
        padding: 0;

        &:focus-within {
          border-bottom: 2px solid #69d3a0;
        }
      }

      input {
        border: none;
        background-color: rgba(49, 49, 49, 0.01);
        width: 100%;
        font-size: 14px;
        outline: none;
      }
    }

    .error {
      font-size: 11px;
      margin-top: 2px;
      letter-spacing: 1px;
      color: #e83c55;
    }
  }

  .forgot {
    text-align: end;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
  }

  .bottomSection {
    display: grid;
    grid-gap: 15px;

    :nth-child(1) {
      padding: 15px;
      background-color: #000;
      border-color: #000;
      color: white;
    }

    :nth-child(2) {
      background-color: #fff;
      border-color: #000;
      padding: 15px;
      color: black;
    }
  }
}

@media (min-width: 769px) {
  .form {
    width: 24em;
  }
}
