$breakpoint-tablet: 768px;

.modal {
  display: flex;
  position: fixed;
  top: 8.1vh;
  height: 92vh;
  right: 0px;
  background-color: white;
  z-index: 1;
}

@media (min-width: $breakpoint-tablet) {
  .modal {
    height: auto;
    margin: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  .center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
  }
}

@media (max-width: 767px) {
  .modal {
    width: 100vw !important;
  }
}
