//diseño para el contenedor cuando el usuario este logueado
.container {
  grid-gap: 25px;
  width: 100%;
  padding: 24px;
  height: fit-content;
  display: grid;

  //diseño para el welcome
  & > :nth-child(1) {
    & > :nth-child(1) {
      font-size: 1.0625rem;
      font-weight: 700;
      line-height: 24px;
    }

    & > :nth-child(2) {
      font-size: 0.8125rem;
      font-weight: 400;
      color: #636363;
    }
  }

  //diseño para los diferentes secciones del navegacion
  & > :nth-child(2) {
    display: grid;
    grid-gap: 20px;

    & a {
      text-decoration: none;
      color: black;
      font-weight: 400;
      font-style: normal;
      display: flex;
      align-items: center;

      & svg {
        margin-right: 10px;
        width: 20px;
        height: auto;
      }
    }

    //diseño para el boton de desloguearse
    & button {
      width: 100%;
      padding: 15px;
      background-color: #000;
      border-color: #000;
      color: white;

      &:hover {
        background-color: #fff;
        border-color: #000;
        color: black;
      }
    }
  }
}

//cambio el layout con media queries
@media (min-width: 769px) {
  .container {
    min-width: 280px;
  }
}
