//diseño para contenedor cuando no hay productos
.empty {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
  & > :nth-child(1) {
    display: flex;
    justify-content: center;
    & a {
      border: 2px solid;
      text-decoration: none;
      padding: 15px;
      background-color: #000;
      border-color: #000;
      color: white;
      display: flex;
      align-items: center;

      & svg {
        margin-left: 20px;
      }

      &:hover {
        background-color: #fff;
        border-color: #000;
        color: black;
      }
    }
  }

  & > :nth-child(2) {
    display: flex;
    justify-content: center;
    height: 100%;

    & img {
      max-width: 100%;
      height: auto;
      object-fit: none;
    }
  }
}

//diseño del contenedor cuando hay productos
.full {
  display: grid;
  padding: 3rem 1rem;
  grid-gap: 24px;
  width: 100%;
  max-width: 992px;
  min-width: auto;
  margin: 0 auto;
  height: fit-content;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: bold;
      font-size: 1.5rem;
    }

    a {
      border: 2px solid;
      text-decoration: none;
      padding: 5px;
      background-color: #000;
      border-color: #000;
      color: white;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #fff;
        border-color: #000;
        color: black;
      }
    }
  }

  //diseñor del contenedor de las targetas
  .products {
    display: grid;
    grid-gap: 20px;

    > div {
      display: grid;
      border: 1px solid #00000042;
      border-radius: 3px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
      grid-template-columns: 1fr auto;

      > a {
        display: flex;
        flex: 1;
        text-decoration: none;
        color: black;

        > div:nth-child(1) {
          height: 64px;
          width: 64px;

          img {
            width: 64px;
            height: 64px;
          }
        }

        > div:nth-child(2) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 5px;

          > div:nth-child(1) {
            display: inline-grid;
            > p {
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              flex: 1;
              text-overflow: ellipsis;
            }
          }

          > div:nth-child(2) {
            display: grid;
            grid-template-columns: auto auto;
            width: fit-content;
            grid-gap: 15px;
          }
        }
      }

      > div:nth-child(2) {
        margin: auto 1rem;
        display: flex;
      }
    }
  }
}

//diseño del modal de confirmacion
.confirmation {
  display: flex;
  text-align: -webkit-center;
  margin: auto;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;

  .icon {
    height: 100px;
    width: auto;
    color: #e83c55;
  }

  .body {
    font-size: x-large;
    font-weight: 600;
  }

  .buttons {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;

    button {
      padding: 17px;
      border: none;

      &:nth-child(1) {
        background-color: #c1c1c1;
      }
      &:nth-child(2) {
        background-color: #e83c55;
      }
    }
  }
}

//cambio el layout con media queries
@media (min-width: 768px) {
  .confirmation {
    display: grid;
    text-align: -webkit-center;
    grid-gap: 4rem;
    padding: 3rem;
    height: auto;

    .icon {
      height: 100px;
      width: auto;
      color: #e83c55;
    }

    .body {
      font-size: x-large;
      font-weight: 600;
    }

    .buttons {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: static;
      width: auto;
      margin: initial;

      button {
        padding: 17px;
        border: none;

        &:nth-child(1) {
          background-color: #c1c1c1;
        }
        &:nth-child(2) {
          background-color: #e83c55;
        }
      }
    }
  }
}
