.container {
  min-height: 92vh;
  padding: 1rem;

  .form {
    display: grid;
    grid-gap: 1rem;

    .header {
      font-size: 25px;
      font-weight: 600;
    }

    .inputs {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      .inputwrapper {
        > label {
          display: block;
        }

        > span,
        > div {
          border: none;
          border-bottom: 1px solid #313131;
          border-color: white;
          box-shadow: none;
          border-bottom: 1px solid #313131;
          padding: 0;

          &:focus-within {
            border-bottom: 2px solid #69d3a0;
          }
        }

        input {
          border: none;
          background-color: rgba(49, 49, 49, 0.01);
          width: 100%;
          font-size: 14px;
          outline: none;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .error {
          border-bottom: none;
          font-size: 11px;
          margin-top: 2px;
          letter-spacing: 1px;
          color: #e83c55;
        }
      }
    }

    .bottons {
      display: grid;
      grid-gap: 15px;

      :nth-child(1) {
        padding: 15px;
        background-color: #000;
        border-color: #000;
        color: white;
      }

      :nth-child(2) {
        background-color: #fff;
        border-color: #000;
        padding: 15px;
        color: black;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    padding: 3rem;
    .inputs {
      grid-template-columns: 1fr 1fr !important;
      grid-gap: 2rem !important;
    }
  }
}
