.container {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  > div {
    display: flex;

    &:nth-child(1) {
      svg {
        color: rgb(248, 184, 2);
        background-color: white;
        border-radius: 50%;
      }
    }

    &:nth-child(2) {
      color: white;
      font-size: 12px;
      padding: 0 10px;
      flex-grow: 1;
      align-items: center;
      display: flex;
    }
  }
}

.success {
  background-color: #69d3a0;
}

.failed {
  background-color: #e83c55;
}
